header{
	background-size: 100% 100%;
	background-position: center;
	background-image:url('images/header/header.jpg');
	background-repeat: no-repeat;
	height: 200px;
}

header h1{
	padding-top: 110px;
	font-size: 4em;
	font-family: Trebuchet MS, Georgia, Serif;
	color: rgba(113, 113, 113, 0.7);
}

body{
	background-color: rgba(148, 192, 208, 0.2);
}
nav{
	background-color: rgba(206, 213, 225, 0.6);
}
nav:hover{
	font-size: 1.5em;
}
nav a{
	height: 25px;
	font-family: Georgia, Serif;
	font-size: 1.2em;
	padding-right: 15px;
}
nav a:hover{
	background-color: rgba(224, 245, 243, 0.4);
}

content form{
	padding-top: 10px;
	text-align: center;
	font-size: 1.2em;
}

content form button{
	margin-top: 10px;
	background-color: rgba(206, 213, 225, 0.0);
}
content form button:hover{
	background-color: rgb(224, 245, 243);
}

content div{
	margin: 1%;
	border: solid;
	font-size: 1em;
	font-family: Trebuchet MS, Arial, serif;
}

}
footer{
	
}
