header{
        border-bottom: none;
        border-top: solid;
        border-right: solid;
        border-left: solid;
        border-color:rgba(111, 113, 125,  0.7);
	border-radius: 10px;
	padding-bottom: 50px;
	background-size: 100% 100%;
	background-position: center;
	background-image:url('images/header/header.jpg');
	background-repeat: no-repeat;
}

header h1{
	top: 50px;
	font-size: 4em;
	font-family: Trebuchet MS, Georgia, Serif;
	color: rgba(113, 113, 113, 0.7);
}

body{
	background-color: rgba(148, 192, 208, 0.2);
}

nav{
	border-radius: 10px;
	border-top: none;
	border-bottom: solid;
	border-right: solid;
	border-left: solid;
	border-color:rgba(111, 113, 125,  0.7);
	background-color: rgba(206, 213, 225, 0.6);
}

nav a{
	background-image: url('images/background/button_form.png');
	background-position: center;
	background-repeat: no-repeat;
	height: 25px;
	font-family: Georgia, Serif;
	font-size: 1.5em;
	padding-right: 6px;
	padding-left: 6px;
}

nav a:hover{
	background-color: rgba(224, 245, 243, 0.4);
	font-size: 2em;
}

content h3{
	text-align: center;
	font-style: bold;
}

content h4{
	padding-top: 4%;
}

content p{
	text-indent: 4%;
	padding: 2%;
}

content p a img{
	padding-bottom: 1%;
	padding-top: 1%;
}

content form #content_form{
	background-image: url('images/background/bulle_contact.png');
	background-size: 100% 100%;
	padding-bottom: 40%;
	padding-top: 10%;
}

content form{
	padding-top: 10px;
	text-align: center;
	font-size: 1.2em;
}

content form p{
	margin: 0%;
	padding: 0%;
	font-size: 0.9em;
	font-family: Georgia, Serif;
}

content form input{
	border: solid;
	border-radius: 8px;
	border-color: rgba(206, 213, 225, 0.8);
	background-color: white;
}

content form textarea{
	border: solid;
	border-radius: 8px;
	border-color: rgba(206, 213, 225, 0.8);
	background-color: white;
}

content form #button{
	padding-top: 2%;
	padding-bottom: 2%;
	background-size: 80% 100%;
	background-image: url('images/background/button_form.png');
	background-repeat: no-repeat;
	background-position: center;
}

content form #button:hover{
	font-size: 1.2em;
}

content form #button button{
	border: none;
	background-color: rgba(0, 0, 0, 0.0);
}

content div{
	border: none;
	font-size: 1em;
	font-family: Trebuchet MS, Arial, serif;
}

footer{
	bottom: 0;
	margin-top: 6%;
	padding-top: 35px;
	background-repeat: repeat-x;
	background-position: center;
	background-size: 5% 100%;
        background-image:url('images/footer/footer.jpg');
	opacity: 0.9;
}

footer p{
	bottom: 60px;
}
